#sections-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.header-container {
  max-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-img {
  max-height: 50px;
}

.header-title {
  font-size: 30px;
}

.text-section {
  display: flex;
  justify-content: center;
}

.text-section p {
  font-size: 20px;
}

.gallery {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-card {
  margin: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content:space-between;
  max-width: 150px;
  min-height: 200px;
  border: 1px solid black;
}

.gallery-card img {
  margin: 5px;
  width: 90%;
}