.header-container {
  max-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-img {
  max-height: 50px;
}

.header-title {
  font-size: 30px;
}

.text-section {
  display: flex;
  justify-content: center;
}

.text-section p {
  font-size: 20px;
}